                /*MAIN*/
                .separadores{ color: black;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;}
                    

/*tarjetas*/
                .cuerpoind{display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                padding-left: 15px;
            padding-right: 15px;}
                    
                    
                    
                    .tarjetaind{border: solid 1px black;
                    border-radius: 5px;
                display: grid;
                width: 150px;
                height: 200; }

                    .ropaimgind{width: 148px;
                    height: 250px;}
                    
                    .pieind{text-align: center;
                    font-size: 10px;}
                    
                    .pieind p{text-align: 30px;}
                    
                    
                    main article a{text-decoration:none;
                        color: black;
                        list-style: none;
                        font-size:10px ;
                        background-color: grey;
                        border-radius: 10px;}
    
    /*tarjetas segunda pagina*/

    .cuerpo{display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    padding-left: 15px;
padding-right: 15px;
}
        
    .panel{display: grid;
grid-column: span 2;
font-size: 20px;
border: 1px solid gray;

}  


    .tarjeta{border: solid 1px black;
        border-radius: 5px;}

    .ropaimg{width: 100%;
        height: 100%;
    }
    .pie{text-align: center;
    font-size: 10px;}
    
    .pie p{text-align: 30px;}
    
    article a{text-decoration:none;
        color: whitesmoke;
        list-style: none;
        font-size:10px ;
        background-color: grey;
    border-radius: 10px;}
    
    .indpag{font-size: 40px;
    padding-top: 20px;}

    .talles{font-size: 30px;
    padding: 10px;}

    .tablatalle{display: flex;
    align-items: center;
gap: 20px;
height: 200px;
padding: 20px;}





    /*-------responsive-------*/

    /*pagina principal*/

    @media(min-width:576px){.cuerpoind{display: grid;
        grid-template-columns: 1fr 1fr 1fr;}}
    
        @media(min-width:786px){.cuerpoind{display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;}}
    
        /*desktop chico*/
        @media(min-width:1200px){
            /*-----header-----*/
            .barrasup{background-color: black;}
            .titulo{
                background-color: black;
                width: auto;
                height: 300px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
            
            .letrastitu{color: whitesmoke; 
            text-align: center;
            display: flex;
            }
            
            .titu{font-size:8rem ;}
            
            
            /*foto*/
            .portada{ background-color: antiquewhite;
            background-image: url("./baner.jpeg");
            height: 500px;
            width: auto;
            background-repeat: no-repeat;
            background-size:cover;
            max-width:100%;}
            
            
            /*subportada*/
            .subtitulo{color: whitesmoke;
            }
            
            header nav ul{ 
            display: flex;
            flex-direction: row;
            gap: 30px;
            text-align: center;
            justify-content: center;
            }
            
            header nav ul li{background-color: grey;
            height: 50px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            }
            
            
            li a{text-decoration:none;
            color: whitesmoke;
            list-style: none;
            font-size: 15px;
            }
            
            .letrasboton{ font-size: 2rem;}
        
            .subtitulo2{color: whitesmoke;
                background-color: black;
                height: 400px;
                display: flex;
                text-align: center;
                justify-content: space-between;
                align-items: center;
                padding: 40px;
                font-size: 25px;
                }
                
            
        
            /*------main------*/
        
            /*cuerpo*/
            .separadores{ color: black;
                font-size: 3rem;
                display: flex;
                justify-content: center;
            padding-top: 45px;}
                
                main a{text-decoration:none;
                color: black;
                list-style: none;
                font-size:30px ;
                background-color: grey;
                border-radius: 10px;}
        
        
            /*tarjetas*/
        
            .cuerpoind{display: grid;
                grid-template-columns: 4,1fr;
                grid-template-rows: 3,1fr;
                gap: 20px;
                padding-top: 45px;
                padding-bottom: 90px;
                padding: 50px;
        }
                
                
                
                .tarjetaind{border: solid 1px black;
                border-radius: 5px;
            display: grid;
            width: 250px;
            height: 600px;}
        
                .ropaimgind{width: 248px;
                height: 450px;}
                
                .pieind{text-align: center;
                font-size: 20px;}
                
                
                
                
                main article a{text-decoration:none;
                    color: black;
                    list-style: none;
                    font-size:30px ;
                    background-color: grey;
                    border-radius: 10px;
                }
        
                /*-------FOOTER---------*/
                footer{
                    display: flex;
                text-align:center ;
                justify-content: space-between;
                align-items: center;
                flex-direction:row;
                padding-right: 50px;
                padding-left: 50px;
                gap: 50px;
            background-color: black;
            width: auto;
        height: 400px;}
                
                .subtitufoo{font-size: 3rem;}
                
                
                
                .footer{color: whitesmoke;}
                
                .letrasfoo{color: whitesmoke;
                font-size: 22px;}
                .precio{font-size:25px;}
            
        }
        
        
    /*desktop grande*/
    
    @media(min-width:1550px){
        /*-----header-----*/
        .barrasup{background-color: black;}
        .titulo{
            background-color: black;
            width: auto;
            height: 400px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        
        .letrastitu{color: whitesmoke; 
        text-align: center;
        display: flex;
        }
        
        .titu{font-size:10rem ;}
        
        ul li {font-size: 30px;}
        
        /*foto*/
        .portada{ background-color: antiquewhite;
        background-image: url("./baner.jpeg");
        height: 1000px;
        width: auto;
        background-repeat: no-repeat;
        background-size:cover;
        max-width:100%;}
        
        
        /*subportada*/
        .subtitulo{color: whitesmoke;
        }
        
        header nav ul{ 
        display: flex;
        flex-direction: row;
        gap: 30px;
        text-align: center;
        justify-content: center;
        }
        
        header nav ul li{background-color: grey;
        height: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        }
        
        
        li a{text-decoration:none;
        color: whitesmoke;
        list-style: none;
        font-size: 20px;
        }
        
        .letrasboton{ font-size: 2rem;}
    
        .subtitulo2{color: whitesmoke;
            background-color: black;
            height: 400px;
            display: flex;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            padding: 100px;
            font-size: 2rem;
            }
            
        
    
        /*------main------*/
    
        /*cuerpo*/
        .separadores{ color: black;
            font-size: 4rem;
            display: flex;
            justify-content: center;
        padding-top: 45px;}
            
            main a{text-decoration:none;
            color: black;
            list-style: none;
            font-size:30px ;
            background-color: grey;
            border-radius: 10px;}
    
    
        /*tarjetas*/
    
        .cuerpoind{display: grid;
            grid-template-columns: 4,1fr;
            grid-template-rows: 3,1fr;
            gap: 20px;
            padding-top: 45px;
            padding-bottom: 90px;
            padding: 50px;
    }
            
            
            
            .tarjetaind{border: solid 1px black;
            border-radius: 5px;
        display: grid;
        width: 350px;
        height: 700px;}
    
            .ropaimgind{width: 348px;
            height: 550px;}
            
            .pieind{text-align: center;
            font-size: 20px;}
            
            
            
            
            main article a{text-decoration:none;
                color: black;
                list-style: none;
                font-size:30px ;
                background-color: grey;
                border-radius: 10px;
            }
    
            /*-------FOOTER---------*/
            footer{height:300px ;
                display: flex;
            text-align:center ;
            justify-content: space-between;
            align-items: center;
            flex-direction:row;
            padding-right: 90px;
            padding-left: 90px;
            gap: 200px;
        background-color: black;
    height: 400px;}
            
            .subtitufoo{font-size: 3rem;}
            
            
            
            .footer{color: whitesmoke;}
            
            .letrasfoo{color: whitesmoke;
            font-size: 2rem;}
            .precio{font-size:25px;}
        
    }
    
    
    
    
    
    /*secundaria*/
    
    @media(min-width:1200px){.panel {display: grid;
    grid-row: span 2;grid-column: span 1;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
    height: 100%;
    width: auto;
    }
    
    
    .cuerpo{display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
     padding-top: 40px;
    padding-bottom: 40px;}
    
    .filtrar{font-size: 30px;}
    
    .tall{font-size: 25px;}
    
    .checkbocx-item{gap:10px;}
    
    .pie h2{font-size: 25px;}
    
        .indpag{font-size:50px;
    
            padding-left: 20px;}
    
    
    .check{display: flex;
        flex-direction: column;
    padding: 20px;
    gap: 20px;}
    
    
    
    .pieind{text-align: center;
        font-size: 15px;}
    }
    
    